:root {
  color-scheme: dark light; /* both supported */
}

html {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Helvetica Neue', sans-serif;
  background: #eee;
  color: #444;
  margin: 2em auto;
  padding: 0 2em;
  max-width: 48em;
  line-height: 1.6em;
  font-size: 16px;
  overflow-wrap: break-word;
}

img {
  margin: 0;
  border: 0;
}

p {
  margin: 1em 0;
}

a, a:visited {
  color: #307ABD;
  text-decoration: none;
}

a:active {
  color: #3b7d4f;
}

a:hover {
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  color: #3a3f5e;
  margin: 1em 0 .25em 0;
  font-weight: normal;
}

h1 {
  font-size: 1.8em;
}

h2 {
  font-size: 1.6em;
}

h3 {
  font-size: 1.4em;
}

h4 {
  font-size: 1.1em;
}

h5 {
  font-size: 1.0em;
}

/* todo: hack: h6 is used for the documentation legacy notice */
h6 {
  font-size: 1.0em;
  text-align: center;
  padding: 1em;
  border: 2px solid #4c6885;
  color: #4c6885;
  border-radius: 4px;
}

dt {
  font-style: italic;
}

ul {
  list-style-type: none;
}

li {
  margin-top: 1em;
  margin-bottom: 1em;
}

code {
  padding: 0.2em;
  background-color: #fff;
  border-radius: 4px;
}

pre {
  background-color: #fff;
  padding: 0.75em;
  line-height: 1.25em;
  border: 1px solid #ddd;
  border-bottom: 1px solid #ccc;
  border-radius: 4px;
}

table {
  width: 100%;
  border: 1px solid #ddd;
  border-bottom: 1px solid #ccc;
  border-radius: 4px;
  border-spacing: 0;
}

tr:nth-child(even) {
  background: #e4e4e4;
}

td {
  padding: 0 0.5em;
}

td:not(:last-child) { 
  border-right: 1px solid #ddd;
}

hr {
  display: block;
  height: 1px;
  border: 0; 
  border-top: 2px dashed #888;
  margin: 1em 0; 
  padding: 0; 
}

.wikitopbanner {
  padding: .5em 1em .5em 1em;
  font-weight: bold;
  background: #ddd;
  border-radius: 4px;
}

.wikitopbanner a, .wikitopbanner a:visited {
  color: inherit;
  text-decoration: inherit;
}

.wikibottombanner {
  margin-top: 1em;
  padding: .5em 1em .5em 1em;
  background: #ddd;
  border-radius: 4px;
  color: #666;
}

.alertBox {
  font-size: 1.0em;
  text-align: center;
  padding: 1em;
  border: 2px solid #781d4f;
  color: #781d4f;
  border-radius: 4px;
}

.anchorImage {
  visibility: hidden;
  padding-left: 0.2em;
}

.anchorText {
}

.anchorText:hover .anchorImage{
  visibility: visible;
}

/* Text and background color for dark mode */
@media (prefers-color-scheme: dark) {

  body {
    background-color: #1a1a1a;
    color: #aaa;
  }
  
  a, a:visited {
    color: #408fa1;
  }

  a:active {
    color: #3b7d4f;
  }
  
  h1, h2, h3, h4, h5, h6 {
    color: #a1b9c5;
  }
  
  /* todo: hack: h6 is used for the documentation legacy notice */
  h6 {
    border: 2px solid #4c6885;
    color: #4c6885;
  }
  
  code {
    background-color: #111;
  }
  
  pre {
    background-color: #111;
    border-color: #333;
    border-bottom-color: #444;
  }
  
  table {
    border-color: #333;
    border-bottom-color: #444;
  }
  
  tr:nth-child(even) {
    background-color: #222;
  }
  
  td:not(:last-child) { 
    border-right-color: #333;
  }
  
  hr {
    border-top-color:#444;
  }
  
  .wikitopbanner {
    background-color: #262626;
  }
  
  .wikibottombanner {
    background-color: #262626;
    color: #ccc;
  }
  
  .alertBox {
    border-color: #781d4f;
    color: #781d4f;
  }
}
