:root {
  color-scheme: dark light; /* both supported */
}

/* Text and background color for light mode */
body {
  color: #333;
  max-width: 1200px;
  margin: 50px;
  margin-left: auto;
  margin-right: auto;
  font-size: 16px;
  line-height: 1.3;
  font-weight: 300;
}

table {
  border: 3px ridge #333;
  border-collapse: collapse;
}

td {
  border: 1px solid #333;
  padding: 5px;
}

.wikitopbanner {
  background-color: #BFC9D9;
  padding: 10px;
  margin-bottom: 10px;
  width: auto;
}

.wikibottombanner {
  background-color: #BFC9D9;
  padding: 10px;
  margin-top: 10px;
  width: auto;
}

/* Text and background color for dark mode */
@media (prefers-color-scheme: dark) {
  body {
    color: #adbac7;
    background-color: #22272e;
  }

  a {
    color: #809fff;
  }

  table {
    border: 3px ridge #AAAAAA;
  }

  td {
    border: 1px solid #AAAAAA;
  }

  .wikitopbanner {
    background-color: #4d6080;
  }

  .wikibottombanner {
    background-color: #4d6080;
  }
}
